@font-face {
	font-family: 'Aquent-Magic';
	src:url('fonts/Aquent-Magic.eot');
	src:url('fonts/Aquent-Magic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Aquent-Magic.svg#Aquent-Magic') format('svg'),
		url('fonts/Aquent-Magic.ttf') format('truetype'),
		url('fonts/Aquent-Magic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Aquent-Magic';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-aquent-large, .icon-aquent-small, .icon-vt, .icon-vt-drop-t, .icon-vt-teardrop, .icon-firebrand-large, .icon-firebrand-small, .icon-talent-ignition, .icon-gymnasium, .icon-ama, .icon-tweet, .icon-linkedin, .icon-facebook, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-pinterest, .icon-youtube-2, .icon-youtube-1, .icon-flickr-1, .icon-flickr-2, .icon-meetup-1, .icon-meetup-2, .icon-viadeo, .icon-xing, .icon-rss, .icon-plaxo, .icon-lock, .icon-lock-2, .icon-email-2, .icon-email, .icon-magnifier, .icon-select-down, .icon-select-right, .icon-select-up, .icon-select-left, .icon-down-arrow, .icon-right-arrow, .icon-up-arrow, .icon-left-arrow, .icon-play-2, .icon-play, .icon-star, .icon-download, .icon-document, .icon-uie, .icon-caret-up, .icon-caret-right, .icon-caret-down, .icon-caret-left, .icon-caret-2-up, .icon-caret-2-right, .icon-caret-2-down, .icon-caret-2-left, .icon-caret-2-inverse-right, .icon-caret-2-inverse-left, .icon-caret-2-outline-right, .icon-caret-2-outline-left, .icon-close, .icon-close-box, .icon-close-2, .icon-close-2-inverse, .icon-close-2-outline, .icon-badge-25lbs, .icon-badge-briefcase, .icon-badge-calendar, .icon-badge-speech-bubble, .icon-badge-star, .icon-badge-webcast, .icon-badge-vitamail, .icon-badge-medal, .icon-badge-cursor, .icon-badge-newsletter, .icon-badge-trends {
	font-family: 'Aquent-Magic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-aquent-large:before {
	content: "\2648";
}
.icon-aquent-small:before {
	content: "\2649";
}
.icon-vt:before {
	content: "\264a";
}
.icon-vt-drop-t:before {
	content: "\2640";
}
.icon-vt-teardrop:before {
	content: "\263f";
}
.icon-firebrand-large:before {
	content: "\264c";
}
.icon-firebrand-small:before {
	content: "\264d";
}
.icon-talent-ignition:before {
	content: "\2634";
}
.icon-gymnasium:before {
	content: "\264b";
}
.icon-ama:before {
	content: "\264e";
}
.icon-tweet:before {
	content: "\264f";
}
.icon-linkedin:before {
	content: "\2653";
}
.icon-facebook:before {
	content: "\2650";
}
.icon-google-plus:before {
	content: "\2651";
}
.icon-google-plus-2:before {
	content: "\2632";
}
.icon-google-plus-3:before {
	content: "\2633";
}
.icon-pinterest:before {
	content: "\2652";
}
.icon-youtube-2:before {
	content: "\2631";
}
.icon-youtube-1:before {
	content: "\2630";
}
.icon-flickr-1:before {
	content: "\2636";
}
.icon-flickr-2:before {
	content: "\2638";
}
.icon-meetup-1:before {
	content: "\263c";
}
.icon-meetup-2:before {
	content: "\263d";
}
.icon-viadeo:before {
	content: "\2637";
}
.icon-xing:before {
	content: "\2639";
}
.icon-rss:before {
	content: "\263a";
}
.icon-plaxo:before {
	content: "\263b";
}
.icon-lock:before {
	content: "\1f512";
}
.icon-lock-2:before {
	content: "\2635";
}
.icon-email-2:before {
	content: "\263e";
}
.icon-email:before {
	content: "\2709";
}
.icon-magnifier:before {
	content: "\2315";
}
.icon-select-down:before {
	content: "\2193";
}
.icon-select-right:before {
	content: "\2192";
}
.icon-select-up:before {
	content: "\2191";
}
.icon-select-left:before {
	content: "\2190";
}
.icon-down-arrow:before {
	content: "\261f";
}
.icon-right-arrow:before {
	content: "\261e";
}
.icon-up-arrow:before {
	content: "\261d";
}
.icon-left-arrow:before {
	content: "\261c";
}
.icon-play-2:before {
	content: "\25b6";
}
.icon-play:before {
	content: "\25b7";
}
.icon-star:before {
	content: "\2605";
}
.icon-download:before {
	content: "\26c0";
}
.icon-document:before {
	content: "\26c1";
}
.icon-uie:before {
	content: "\274b";
}
.icon-caret-up:before {
	content: "\21e7";
}
.icon-caret-right:before {
	content: "\21e8";
}
.icon-caret-down:before {
	content: "\21e9";
}
.icon-caret-left:before {
	content: "\21e6";
}
.icon-caret-2-up:before {
	content: "\2740";
}
.icon-caret-2-right:before {
	content: "\2741";
}
.icon-caret-2-down:before {
	content: "\2742";
}
.icon-caret-2-left:before {
	content: "\2743";
}
.icon-caret-2-inverse-right:before {
	content: "\2744";
}
.icon-caret-2-inverse-left:before {
	content: "\2745";
}
.icon-caret-2-outline-right:before {
	content: "\2746";
}
.icon-caret-2-outline-left:before {
	content: "\2747";
}
.icon-close:before {
	content: "\274c";
}
.icon-close-box:before {
	content: "\22a0";
}
.icon-close-2:before {
	content: "\2748";
}
.icon-close-2-inverse:before {
	content: "\2749";
}
.icon-close-2-outline:before {
	content: "\274a";
}
.icon-badge-25lbs:before {
	content: "\2750";
}
.icon-badge-briefcase:before {
	content: "\2751";
}
.icon-badge-calendar:before {
	content: "\2752";
}
.icon-badge-speech-bubble:before {
	content: "\2753";
}
.icon-badge-star:before {
	content: "\2754";
}
.icon-badge-webcast:before {
	content: "\2755";
}
.icon-badge-vitamail:before {
	content: "\2756";
}
.icon-badge-medal:before {
	content: "\2759";
}
.icon-badge-cursor:before {
	content: "\275a";
}
.icon-badge-newsletter:before {
	content: "\2757";
}
.icon-badge-trends:before {
	content: "\2758";
}
