@charset "UTF-8";
/* 3.3.0 */
@font-face {
  font-family: 'Aquent-Magic';
  src:url('Aquent-Magic.eot');
  src:url('Aquent-Magic.eot?#iefix') format('embedded-opentype'),
    url('Aquent-Magic.svg#Aquent-Magic') format('svg'),
    url('Aquent-Magic.ttf') format('truetype'),
    url('Aquent-Magic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  unicode-range: U+2190-21E9,U+22A0,U+2315,U+25B6-25B7,U+2600-3000,U+1F512;
}
[class^="icon-"],[class*=" icon-"],[data-icon]:before {
  font-family: 'Aquent-Magic';
  content: attr(data-icon);
  speak: none;
  font-weight: 100;
  font-variant: normal;
  font-stretch: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.icon-aquentlarge:before {
  content: "\2648";
}
.icon-aquentsmall:before {
  content: "\2649";
}
.icon-vt:before {
  content: "\264a";
}
.icon-vt-drop-t:before {
  content: "\2640";
}
.icon-vt-teardrop:before {
  content: "\263f";
}
.icon-firebrandlarge:before {
  content: "\264c";
}
.icon-firebrandsmall:before {
  content: "\264d";
}
.icon-talentignition:before {
  content: "\2634";
}
.icon-gymnasium:before {
  content: "\264b";
}
.icon-ama:before {
  content: "\264e";
}
.icon-uie:before {
  content: "\274b";
}
.icon-tweet:before {
  content: "\264f";
}
.icon-twitter:before {
  content: "\275b";
}
.icon-linkedin:before {
  content: "\2653";
}
.icon-linkedin-2:before {
  content: "\275c";
}
.icon-facebook:before {
  content: "\2650";
}
.icon-facebook-2:before {
  content: "\275d";
}
.icon-googleplus:before {
  content: "\2651";
}
.icon-googleplus2:before {
  content: "\2632";
}
.icon-googleplus3:before {
  content: "\2633";
}
.icon-pinterest:before {
  content: "\2652";
}
.icon-youtube2:before {
  content: "\2631";
}
.icon-youtube-1:before {
  content: "\2630";
}
.icon-flickr-1:before {
  content: "\2636";
}
.icon-flickr-2:before {
  content: "\2638";
}
.icon-meetup-1:before {
  content: "\263c";
}
.icon-meetup-2:before {
  content: "\263d";
}
.icon-viadeo:before {
  content: "\2637";
}
.icon-xing:before {
  content: "\2639";
}
.icon-rss:before {
  content: "\263a";
}
.icon-plaxo:before {
  content: "\263b";
}
.icon-lock:before {
  content: "\1f512";
}
.icon-lock2:before {
  content: "\2635";
}
.icon-email-2:before {
  content: "\263e";
}
.icon-email:before {
  content: "\2709";
}
.icon-magnifier:before {
  content: "\2315";
}
.icon-selectdown:before {
  content: "\2193";
}
.icon-selectright:before {
  content: "\2192";
}
.icon-selectup:before {
  content: "\2191";
}
.icon-selectleft:before {
  content: "\2190";
}
.icon-downarrow:before {
  content: "\261f";
}
.icon-rightarrow:before {
  content: "\261e";
}
.icon-uparrow:before {
  content: "\261d";
}
.icon-leftarrow:before {
  content: "\261c";
}
.icon-play-2:before {
  content: "\25b6";
}
.icon-play:before {
  content: "\25b7";
}
.icon-star:before {
  content: "\2605";
}
.icon-download:before {
  content: "\26c0";
}
.icon-document:before {
  content: "\26c1";
}
.icon-caret-up:before {
  content: "\21e7";
}
.icon-caret-right:before {
  content: "\21e8";
}
.icon-caret-down:before {
  content: "\21e9";
}
.icon-caret-left:before {
  content: "\21e6";
}
.icon-caret-2-up:before {
  content: "\2740";
}
.icon-caret-2-right:before {
  content: "\2741";
}
.icon-caret-2-down:before {
  content: "\2742";
}
.icon-caret-2-left:before {
  content: "\2743";
}
.icon-caret-2-inverse-right:before {
  content: "\2744";
}
.icon-caret-2-inverse-left:before {
  content: "\2745";
}
.icon-caret-2-outline-right:before {
  content: "\2746";
}
.icon-caret-2-outline-left:before {
  content: "\2747";
}
.icon-close:before {
  content: "\274c";
}
.icon-close-box:before {
  content: "\22a0";
}
.icon-close-2:before {
  content: "\2748";
}
.icon-close-2-inverse:before {
  content: "\2749";
}
.icon-close-2-outline:before {
  content: "\274a";
}
.icon-badge-25lbs:before {
  content: "\2750";
}
.icon-badge-briefcase:before {
  content: "\2751";
}
.icon-badge-calendar:before {
  content: "\2752";
}
.icon-badge-speech-bubble:before {
  content: "\2753";
}
.icon-badge-star:before {
  content: "\2754";
}
.icon-badge-webcast:before {
  content: "\2755";
}
.icon-badge-vitamail:before {
  content: "\2756";
}
.icon-badge-medal:before {
  content: "\2759";
}
.icon-badge-cursor:before {
  content: "\275a";
}
.icon-badge-newsletter:before {
  content: "\2757";
}
.icon-badge-trends:before {
  content: "\2758";
}
.icon-computer:before {
  content: "\265e";
}
.icon-building:before {
  content: "\265f";
}
.icon-segment-1:before {
  content: "\2660";
}
.icon-segment-2:before {
  content: "\2661";
}
.icon-segment-3:before {
  content: "\2662";
}
.icon-segment-4:before {
  content: "\2663";
}
.icon-location:before {
  content: "\2664";
}